#lean_overlay {
	position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#popup, .popup {
    width:900px;
 	padding-bottom: 2px;
	display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#popup-header, .popup-header { 
	background:url(../images/dienthoai_top.png) top left no-repeat; 
    height:63px; 
	border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px; 
}
#popup_content
{
    height:auto;
    position: absolute !important;
}
#popup-header  h2, .popup-header  h2 { color: #444; text-align:center; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#popup-header  p, .popup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
.info_popup {padding:20px;background:url(../images/pop_ic.png) top left repeat-y;width:900px;}      
.close_popup { position: absolute; top:22px; right:20px; display: block; width: 14px; height: 14px;z-index: 2; }

#popup1, .popup1 {
    width:900px;
 	padding-bottom: 2px;
	display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#popup-header1, .popup-header1 { 
	background:url(../images/hinhthuc_top.png) top left no-repeat; 
    height:63px; 
	border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px; 
}
#popup_content1
{
    height:auto;
    position: absolute !important;
}
#popup-header1  h2, .popup-header1  h2 { color: #444; text-align:center; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#popup-header1  p, .popup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
.info_popup1 {padding:20px;background:url(../images/pop_ic.png) top left repeat-y;width:900px;}      
.close_popup1 { position: absolute; top:22px; right:20px; display: block; width: 14px; height: 14px;z-index: 2; }