*{margin:0;padding:0}
a
{
    text-decoration:none;
}
ul
{
    list-style:none;
}
.clear
{
    clear:both;
}
body
{
    font-family:Arial;
    line-height:22px;
    background:#fff;
}
.pagination
{
	text-align:center;
}
.pagination a, .pagination strong 
{
	background: #e3e3e3;
	padding: 4px 7px;
	text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
}
.pagination strong, .pagination a:hover 
{
	 font-weight: normal;
	 background:#333;
     color:white;
}

.container
{
    width:1000px;
    margin:auto;
}
#header
{
    position:relative;
    height:147px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,f4f4f4+0,dde7e9+100,dde7e9+100 */
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #f4f4f4 0%, #dde7e9 100%, #dde7e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(0%,#f4f4f4), color-stop(100%,#dde7e9), color-stop(100%,#dde7e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 0%,#dde7e9 100%,#dde7e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 0%,#dde7e9 100%,#dde7e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 0%,#dde7e9 100%,#dde7e9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f4f4 0%,#f4f4f4 0%,#dde7e9 100%,#dde7e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dde7e9',GradientType=0 ); /* IE6-9 */
}
#logo
{
    position:absolute;
    top:16px;
    left:0;
}
#banner
{
    position: absolute;
    top:0;
    left:0;
}
#logo_right
{
    position:absolute;
    right:54px;
    top:0px;
    background:url(../images/logo_right.png) top left no-repeat;
    height:146px;
    width:231px;
}
#content
{
    margin-top:7px;
}
#content_left
{
    width:240px;
    float:left;
}
.box_left
{
    border:2px solid #e5ecf4;
}
.box_left_top
{
    height:48px;
}
.box_left_top p
{
    line-height:48px;
    border-bottom:2px solid #e5ecf4;
    text-align: center;
    font-weight:bold;
    color:#333;
    font-size:14px;
    font-family:Tahoma;
}
.menu_left_img
{
    float:left;
    margin-right:12px;
}
.menu_left_img_sb
{
    float:left;
    margin-right:12px;    
}
#menu_left li
{
    padding-top:11px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    position: relative;
    border-top:2px solid #e5ecf4;
}
#menu_left li a
{
    display:block;    
    color:#333;
    font-size:15px;
}
.menu_left_sub
{
    position:absolute;
    border-top:1px solid #e5ecf4;
    border-right:1px solid #e5ecf4;
    top:-1px;
    z-index:2000;
    left:236px;
    background:#fff;
    width:250px;
    display:none;
}
.menu_left_sub li
{
    border-bottom:1px solid #e5ecf4 !important;
    border-left:1px solid #e5ecf4 !important;   
    border-top:none !important; 
    padding-top:13px !important;
    padding-bottom:13px !important;
}
.menu_left_sub li a:hover
{
    color:#26c09e !important;
    border:none !important;
}
.menu_left_name
{
    padding-top:3px;
}
.menu_left_name_sb
{
    padding-top:3px;
}
.menu_left_name:hover
{
    color:#26c09e !important;
}

#content_right
{
    width:740px;
    float:right;
}
#menu
{
    height:46px;
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    background:url(../images/bg_mn.png) left bottom no-repeat; 
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
}
#menu_top li
{
    float:left;
}
#menu_top li a
{
    display:block;
    padding:10px 20px;
    font-size:12px;
    font-weight:bold;
    color:#555;
    font-family:Tahoma;
    border-right:2px solid #e5ecf4;
    text-transform:uppercase;
}
.menu_sub
{
     position:absolute;
     border-left:2px solid #e5ecf4; 
     border-right:2px solid #e5ecf4; 
     border-bottom:2px solid #e5ecf4; 
     width:200px;
     z-index:2000;
     display:none;
     background:#fff;
}
.menu_sub li a
{
    border-right:none !important;
    border-top:2px solid #e5ecf4;    
    padding:10px 14px !important; 
    text-transform: none !important;
}
.menu_sub li
{
    float:none !important;
}
#menu_top li a:hover
{
    color:#26c09e;       
}
#slider
{
    width:736px;
    text-align: center;
    height:354px;
    margin-top:12px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.38);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.38);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.38); 
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    border:1px solid #b7b7b7;
}
#slider img
{
    margin-top:3px;
    width:100%;
    height:348px;
    border:none;
}
#dangkyhoc
{
    display:block;
    width:164px;
    height:48px;
    background:#15a0da;
    float:left;
    height:40px;
    line-height:40px;
    text-align:center; 
    font-size:14px;
    margin-left:22px;
    color:#fff;
    font-weight:bold;
    text-transform: uppercase;  
}
#dangkyhoc:hover
{
    background:#3883cc;
}
#bg_search
{
    margin:30px 0;    
}
#search
{
    width:600px;    
    float:left;
    margin-left:140px;
    height:41px;
}
#search input[type="text"]
{
    width:450px;
    padding-left:10px;
    font-size:12px;
    color:#999;
    height:39px;
    border-top:1px solid #ebebeb;
    border-left:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    float:left;
}
#search input[type="submit"]
{
    background:url(../images/search.png) top left no-repeat;
    width:109px;
    height:41px;
    border:none;
    padding-left:20px;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;    
}
.item_col
{
    width:314px;
    height:181px;
    float:left;
    margin-right:29px;
}
.khoahochome_item
{
    width:314px;
    float:left;    
    height:181px;
}
.khoahochome_item a
{
    display:block;
}
.khoahochome_item_img
{
    width:312px;
    height:150px;   
    background:url(../images/kh_view.png) left bottom no-repeat;
}
.khoahochome_item_img a
{
    width:312px;
    height:137px;
    border:1px solid #c2c0c1;
}
.khoahochome_item_img img
{
    width:312px;
    height:137px;
    border:none;
}
.khoahochome_item_name
{
    font-size:12px;
    color:#333;
}
.khoahochome_item_name:hover
{
    color:#228bcc;
}
.box_right
{
    border:1px solid #bcbcbc;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4); 
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    margin-bottom:15px;    
}
.box_right_top
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12a1d9+0,12a1d9+0,1a75bb+100,1a75bb+100 */
    background: #12a1d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #12a1d9 0%, #12a1d9 0%, #1a75bb 100%, #1a75bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a1d9), color-stop(0%,#12a1d9), color-stop(100%,#1a75bb), color-stop(100%,#1a75bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1d9', endColorstr='#1a75bb',GradientType=0 ); /* IE6-9 */
    width:100%;
    height:34px;    
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
}
.box_right_top p
{
    display:block;
    line-height:34px;
    padding-left:15px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
}
.box_right_top h1
{
    display:block;
    line-height:34px;
    padding-left:15px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
}
.box_right_top a
{
    display:block;
    line-height:34px;
    padding-left:15px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
}
.khoahocnb_item
{
    position:relative;
    width:489px;
    float:left;
    margin-right:17px;
    height:309px;
    border:1px solid #bcbcbc;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4); 
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    margin-bottom:15px;
}
.khoahocnb_item_top
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12a1d9+0,12a1d9+0,1a75bb+100,1a75bb+100 */
    background: #12a1d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #12a1d9 0%, #12a1d9 0%, #1a75bb 100%, #1a75bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a1d9), color-stop(0%,#12a1d9), color-stop(100%,#1a75bb), color-stop(100%,#1a75bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1d9', endColorstr='#1a75bb',GradientType=0 ); /* IE6-9 */
    width:100%;
    height:34px;    
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
}
.khoahocnb_item_top a
{
    display:block;
    line-height:34px;
    padding-left:15px;
    font-size:14px;
    color:#fff;
    font-weight:bold;
}
.khoahocnb_item_top a:hover
{
    color:#333;
}
.khoahoc_item_one
{
    margin:12px;
    border-bottom:1px solid #dcdcdc;
    padding-bottom:12px;
}
.khoahoc_item_one a
{
    display: block;
}
.khoahoc_item_one_img
{
    width:125px;
    height:87px;
    border:1px solid #d6d6d6;
    text-align: center;
    box-shadow:1px 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 0px 4px rgba(0,0,0,0.2); 
    float:left;
    margin-right:11px;
    margin-top:5px;
}
.khoahoc_item_one_img img
{
    margin-top:3px;
    width:119px;
    height:82px;
    border:none;
}
.khoahoc_item_one_name
{
    font-size:13px;
    color:#333;
    font-weight:bold;
}
.khoahoc_item_one_name:hover
{
    color:#12a1d9;
}
.khoahoc_item_one p
{
    font-size:13px;
    color:#666;
    text-align: justify;
}
.khoahocnb_sub
{
    padding-left:12px;
    padding-right:12px;
}
.khoahocnb_sub li a
{
    display:block;
    font-size:12px;
    background:url(../images/bothot.png) left no-repeat;
    color:#333;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
}
.khoahocnb_sub li a:hover
{
    color:#12a1d9;    
}
.khoahocnb_item_read
{
    position:absolute;
    left:12px;
    bottom:10px;
    font-size:12px;
    color:red;
    font-weight:bold;
}
.khoahocnb_item_read:hover
{
    color:#333;
}
#tintuc
{
    width:676px;
    float:left;
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    border:1px solid #bcbcbc;
    margin-bottom:10px;
}
#tintuc_main a
{
    display:block;
}
#tintuc_main p
{
    font-size:12px;
    padding-right:10px;
    color:#333;
    text-align:justify;
}
.tintuc_name
{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
    font-weight:bold;
    color:#cc0407;
}
.tintuc_name:hover
{
    color:#333;
}
.tintuc_img
{
    padding-left:10px;   
}
.tintuc_img img
{
    float:left;
    width:166px;
     margin-top:5px;
    height:100px;
    border:1px solid #ddd;
    margin-right:10px;
}
#tintuc_top
{
    height:34px;
     background: #12a1d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #12a1d9 0%, #12a1d9 0%, #1a75bb 100%, #1a75bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a1d9), color-stop(0%,#12a1d9), color-stop(100%,#1a75bb), color-stop(100%,#1a75bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1d9', endColorstr='#1a75bb',GradientType=0 ); /* IE6-9 */
     -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
}
#tintuc_top p
{
    display:block;
    line-height:34px;
    padding-left:9px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
}
#tintuc_top a
{
    display:block;
    line-height:34px;
    padding-left:9px;
    font-size:14px;
    font-weight:bold;
    color:#fff;
}
#tintuc_sub
{
    padding:10px;
}
#tintuc_sub li a
{
    display:block;
    font-size:12px;
    padding:1px 0;
    background:url(../images/icon_f1.gif) left no-repeat;
    padding-left:10px;
    font-weight:bold;
    color:#333;
}
#tintuc_sub li a:hover
{    
    background:url(../images/icon_fc.png) left no-repeat;
    color:red;
}
#doitac
{
    width:300px;
    float:right;
    border:1px solid #bcbcbc;
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
}
#doitac_top
{
    height:34px;  
     -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;  
     background: #12a1d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #12a1d9 0%, #12a1d9 0%, #1a75bb 100%, #1a75bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a1d9), color-stop(0%,#12a1d9), color-stop(100%,#1a75bb), color-stop(100%,#1a75bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1d9', endColorstr='#1a75bb',GradientType=0 ); /* IE6-9 */
}
#doitac_top p
{
    font-size:14px;
    font-weight:bold;
    line-height:34px;
    padding-left:15px;
    color:#fff;
}
.doitac_item
{
    width:120px;
    margin-left:17px;
    margin-top:10px;
    float:left;
}
.doitac_item a
{
    display:block;
}
.doitac_item img
{
    border:1px solid #ddd;
    width:120px;
    height:60px;
}
#albumanh_top
{
    height:40px;
    border-bottom:2px solid #e5ecf2;
}
#albumanh_top p
{
    line-height:40px;
    font-size:15px;
    font-weight:bold;
    color:#178dcd;
    font-family:Tahoma;
}
.album_item
{
    width:181px;
    float:left;
    margin-top:10px;
}
.album_item img
{
    border:1px solid #ddd;
    width:181px;
    height:125px;
}
.album_item a
{
    font-size:12px;
    font-weight:bold;
    color:#333;
}
.album_item a:hover
{
    color:#3883cc;
}
#footer_top
{
    padding:14px;
}
#footer
{
    background:#efefef;
    margin-bottom:10px;
    padding-bottom:10px;
    margin-top:20px;
    border:1px solid #d7d7d7;
      -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
}
.footer_item
{
    width:218px;
    float:left;
    background:url(../images/bit_r.png) right center no-repeat;
    padding-right:10px;
    margin-right:19px;
}
.footer_item a
{
    display:block;
}
.footer_item ul li a
{
    font-size:12px;
    color:#555;
    padding:5px 0;
}
.footer_item ul li a:hover
{
    color:#178dcd;
}
.footer_title
{
    font-size:13px;
    font-weight:bold;
    color:#333;
    font-family:Tahoma;
    padding:5px 0;
}
.dc
{
    font-size:12px;
    color:#555;
    line-height:25px;
}
#footer_left
{
    padding-left:10px;
    padding-top:15px;
    width:350px;
    float:left;
}
#fanpage
{
    width:300px;
    float:left;
}
#footer_left p
{
    font-size:12px;
    color:#555;
    line-height:25px;
}
.menubreakcumb
{
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
    padding-bottom:6px;
    margin-left:8px;
    margin-right:8px;
    padding-top:6px;
}
.menubreakcumb li
{
    float:left;
    background:url(../images/icon_breakcumb.png) right center no-repeat;
    padding:0 20px 0 10px;
}
.menubreakcumb li a
{
    font-size:12px;
    display: block;
    color:#c00;
    white-space:nowrap;
}
.menubreakcumb li span
{
    color:#888;
    font-size:12px;
}
#div_id
{
    width:530px;
    float:left;
    height:420px;
    margin-top:10px;
    margin-left:8px;
}
#info_contact
{
    float:right;
    width:440px;
    margin-right:8px;
    padding-bottom:10px;
    margin-top:6px;
}
#info_contact ul li a
{
    font-size:13px;
    color:#333;
}
#info_contact input[type="text"]
{
    border:1px solid #333;
    width:300px;
    height:30px;
}
.caption span
{
    font-size:14px;
    font-weight:bold;
    padding-bottom:7px;
    padding-top:7px;
    display: block;
}
#info_contact textarea
{
    border:1px solid #333;  
    margin-bottom:10px;  
}
#error_register
{
    padding-bottom:12px;
}
.require
{
    font-size:11px;
    color:red;
}
#error_register fieldset
{
    border:1px solid #599DC8;
    padding:10px;
}
#error_register legend
{
    color:#F10000;
    font-weight:bold;
    padding:0 5px;
    text-transform:uppercase;   
    font-size:12px; 
}
#error_register p
{
    background:url(../images/error.png) no-repeat;
    padding-bottom:5px;
    padding-left:23px;
    font-size:12px;
}
.tintuc_all
{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    width:346px;
    height:110px;
    float:left;
    border-bottom:1px solid #ddd; 
}
.tintuc_all_read
{
    font-size:11px;
    color:#333;
    float:right;
    font-weight:bold;
}
.tintuc_all_read:hover
{
    text-decoration: underline;
}
.tintuc_all p
{
    font-size:12px;
    color:#666;
}
.tintuc_all a
{
    display: block;
}
.tintuc_all_img
{
    float:left;
    margin-right:15px;
    margin-top:4px;
}
.tintuc_all_img img
{
    width:120px;
    border:none;
}
.tintuc_all_name
{
    font-size:12px;
    font-weight:bold;
    color:#333;
}
#keugoi
{
    padding:8px;
    font-size:12px;
    line-height:30px;
}
.title
{
    font-size:15px;
}
.date
{
    font-size:11px;
    color:#999;
    font-style:italic;
}
.tacgia
{
    text-align: right;
}
.nguontin
{
    text-align:right;
    font-style:italic;
    font-size:13px;
    color:#333;
}
#lienquan_ct
{
    padding:8px;
}
#lienquan_ct #lienquan_ct_title
{
    font-weight:bold;
    font-size:15px;
    padding-bottom:5px;
}
#tinmoi_ct_title
{
    font-weight:bold;
    font-size:15px;
    padding-bottom:5px;
}
#tinmoi_ct
{
    padding:8px;
}
.item-lq a
{
    font-size:12px;
    color:#333;
    background:url(../images/li-item.png) left no-repeat;
    padding-left:15px;
}
.tags
{
    font-weight:bold;
    color:#000;
    font-size:15px;
}
.tags a
{
    font-weight:normal;
    color:#747474;
}
.tags a:hover
{
    color:#3883cc;
}
.item-lq a:hover
{
    color:#3883cc;
}
.linkhaybutton .count
{
	background:url(../images/lh_widget_button.gif) no-repeat scroll 0px -109px;
	float:left;
	display:block;
	width:32px;
	height:18px;
	margin-right:1px;font-size:12px;line-height:16px;font-weight:bold;color:#959595;text-align:center;}
.linkhaybutton{padding-right:4px;}
.linkhaybutton .retweet{background:url(../images/lh_widget_button.gif) no-repeat scroll 0px -73px;float:left;height:18px;width:46px;text-align:center;display:block;cursor:pointer;padding:0px 0px 0px;font-size:11px;color: white;text-decoration: none;line-height: 18px;padding-left:3px;}
.linka{color:#fff;text-decoration:none;}
.linka:hover{text-decoration:underline;}
#chiase
{
    padding-top:12px;
    padding-bottom:12px;
}
#chiase #title
{
    font-weight:bold;
    background:url(../images/chiase.png) no-repeat;
    background-position:7px 0;
    display:block;
    font-size:15px;
    padding-bottom:10px;    
    color:#000;    
}
#click_more p
{
    font-size:18px;
    text-align: center;
    padding:15px 0;
    color:red;
}
#theh
{
    padding:15px 10px;
    font-size:12px;
}
#theh h1
{
    font-size:12px;
    float:left;
}
#theh p{
    float:left;
}
#theh h2
{
    font-size:12px;
    float:left;
}
#theh h3
{
    font-size:12px;
    float:left;
}
#theh h4
{
    font-size:12px;
    float:left;
}
#theh h5
{
    font-size:12px;
    float:left;
}
.album_itemg
{
    width:185px;
    margin-left:12px;
    float:left;
    margin-bottom:10px;
}
.album_itemg img
{
    width:185px;
    height:140px;
}
.album_itemg span{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#tukhoa
{
    float:right;
    width:234px;
    padding-top:5px;
    font-size:12px;
    margin-right:10px;
}
#tukhoa p
{
    font-size:16px;
    font-weight:bold;
}
#tukhoa h1
{
    font-size:12px;
    color:#555;
}
#tukhoa h4
{
    font-size:12px;
    color:#555;
}
#tukhoa h2
{
    font-size:12px;
    color:#555;
}
#tukhoa h3
{
    font-size:12px;
    color:#555;
}
#keugoi ol
{
    padding-left:15px;
}
#left
{
    width:240px;
    float:left;
}
#right
{
    width:740px;
    float:right;
}
.box_trai
{
    width:100%;
}
.box_trai
{
    border:1px solid #bcbcbc;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4); 
    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;
    margin-bottom:15px; 
}
.box_trai_top
{
     background: #12a1d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #12a1d9 0%, #12a1d9 0%, #1a75bb 100%, #1a75bb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a1d9), color-stop(0%,#12a1d9), color-stop(100%,#1a75bb), color-stop(100%,#1a75bb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #12a1d9 0%,#12a1d9 0%,#1a75bb 100%,#1a75bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a1d9', endColorstr='#1a75bb',GradientType=0 ); /* IE6-9 */
    height:34px;
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;
}
.box_trai_top p
{
    line-height:34px;
    padding-left:15px;
    font-size:14px;
    color:#fff;
    font-weight:bold;    
}
#tinmoi_cm
{
    margin:0 10px;
}
#tinmoi_cm a
{
    display:block;
    font-size:12px;
    padding:6px 0;
    color:#333;
    border-bottom:1px dotted #555;
    padding-left:15px;
    background:url(../images/icon_f1.gif) 0px 15px no-repeat;
}
#tinmoi_cm a:hover
{
    color:#3883cc;
    background:url(../images/icon_fc.png) 0 15px no-repeat;
}
#tinmoi_cm li:last-child a
{
    border-bottom:none;
}
#support
{
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}
.support_item
{
    padding-top:10px;
}
.support_item a
{
    display:block;
    margin-right:10px;
    float:left;
    font-size:12px;
    font-weight:bold;
}
.support_item p
{
    font-size:12px;
    font-weight:bold;
}
#quangcao_left
{
    width:100%;
    padding-bottom:5px;
}
#quangcao_left a
{
    display: block;
}
#quangcao_left img
{
    width:100%;
    border:none;
}
#dangkyngay
{
    padding:15px;
}
#dangkyngay label
{
    font-size:12px;
    color:#333;
    font-weight:bold;
    width:120px;
    display: block;
}
#dangkyngay input[type="text"]
{
    width:300px;
    height:25px;
    margin-bottom:10px;
    border:1px solid #ddd;
}
#error_register
{
    padding-bottom:12px;
}
.require
{
    font-size:11px;
    color:red;
}
#reset
{
    background:#0099f7;
    border-color:#ccc #c0c0c0 #c0c0c0 #ccc;
    border-style:solid;
    border-width:1px;
    color:#fff;
    cursor:pointer;
    font-weight:700;
    padding:5px 8px;
}
#error_register fieldset
{
    border:1px solid #599DC8;
    padding:10px;
}
#error_register legend
{
    color:#F10000;
    font-weight:bold;
    padding:0 5px;
    text-transform:uppercase;   
    font-size:12px; 
}
#error_register p
{
    background:url(../images/error.png) no-repeat;
    padding-bottom:5px;
    padding-left:23px;
    font-size:12px;
}
.list_carousel {
	width:314px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	width:314px;
	height:181px;
	padding: 0;
	display: block;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.sc_card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    border-radius: 4px;
    background: #fff;
    margin: 2em auto;
    width: 95%;
    overflow: hidden;
    padding: 1em;
}
